.WorkHistory{
    /* height: 1200px; */
    overflow: hidden;
    background-color: #4B5464;
}

.WorkHistory p{
    color: #FFF;
}

.WorkHistory .header{
    padding-top: 46px;
    margin: 0;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.WorkHistory hr{
    background-color: #FFF;
    width: 42px;
    border: 1px solid #FFF;
    margin-top: 26px;
}

.WorkHistory .backgroundText{
    color: #535C6A;
    font-size: 200px;
    transform: rotate(90deg);
    position: relative;
    font-family: 'Avenir Next Short';
    left: 370px;
    top: 465px;
    letter-spacing: .03em;
}

.WorkHistory .workRow{
    /* position:relative; */
    
    padding: 30px 200px 0 200px;
    z-index: 1;
    
}
.WorkHistory .workRowSmall{
    z-index: 1;
    padding-top: 30px;
}

.WorkHistory .workName{
    font-size: 20px;
    text-transform: uppercase;
}
.WorkHistory .workLocation{
    font-size: 20px;
    padding-top: 16px;
    letter-spacing: .08em;
    font-weight: 100;
    margin-bottom: 0px;
}
.WorkHistory .workTimeFrame{
    font-size: 20px;
    letter-spacing: .08em;
    font-weight: 100;
}

.WorkHistory .jobTitle{
    font-weight: 100;
    font-size: 20px;
    word-spacing: -.18em;
    letter-spacing: .13em;
}
.WorkHistory .description{
    font-weight: 100;
    font-size: 20px;
    padding-top: 20px;
}

.WorkHistory .column{
    padding-top: 11px;
    /* float: right; */
    /* width: 412px; */
    /* font-family: 'Oswald', sans-serif; */
    font-size: 25px;
    letter-spacing: .12em;
    font-family: 'Avenir Next';
    
    
    /* text-align: right; */
}

.WorkHistory .column.left{
    float: right;
    /* padding-left: 340px; */
    text-align: right;
    padding-right: 44px;
    font-weight: 600;
    letter-spacing: .09em;
}
.WorkHistory .column.right{
    float: left;
    text-align: left;
    padding-left: 42px;
    z-index: 0;
}

.WorkHistory .projectRow{
    z-index: 1;
    /* padding-top: 30px; */
}

.WorkHistory .projectTile{
    width: 250px;
    height: 250px;
    background-color: #FFF;
    margin: 0 auto;
    margin-bottom: 20px;
}